.navv {
  background-color: red;
  height: 50px;
}
#TituloEmpresa{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.bg {
  background-color: rgba(255, 0, 0, 0.747);
}

.opciones {
  color: white;
  text-decoration: none;
}

.item {
  width: 100%;
  margin-bottom: 2em;
  padding: 1em;
  
}
.bg-modal-tipo{
  background-color: rgba(36, 36, 37, 0.753);
}

.item:hover {
  background-color: rgba(255, 255, 0, 0.342);
}


.item i {
  margin-right: 1em;
  color: white;
  font-size: 20px;
}

.item a{
  font-size: 20px;
}
.item a:hover {
  color: white;
}

.titlemenu {
  color: white;
}

.tachanavv {
  color: white;
  background-color: azure;
}

/* //submenu */

#submenu {
  background-color: rgba(2, 36, 66, 0.753);
}

#submenu li {
  background-color: rgba(2, 36, 66, 0.747);
}

#submenu li a:hover {
  background-color: rgba(2, 36, 66, 0.781);
  font-size: 18px;
}

#submenu li a {
  color: white;
}
.tipo-menu{
  color: white;
}