
.texto-tabla-centrado{
    background-color: black !important;
    color: white !important;
    border-color: lightgray;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    
}


.tabla_datos_clientes{
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}




.fondogris{
    background-color: #EAEAF0;
    font-weight: bold;
    border-color: lightgray;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
    margin-right: -18px;
    margin-left: -18px;
    margin-bottom: 12px;

    
}
td, th {
    border: 1px solid lightgray;
    text-align: start;
    font-size: 11px;
    padding: .5px;
}

.contornoNegro{
    
    border: .5px solid black !important;
}


/* Agrega un estilo diferente para las celdas de encabezado (th) */
th {
    background-color: #f2f2f2;
}



.contenedorImagen {
    text-align: center;
  }
  
  .imagen-centrada {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px; /* Agrega margen inferior para separarla de otros elementos */
}

p{
    font-size: 13px;
}

.text-center{
    text-align: center;
  }






.contenedor {
    width: 100%;
    position: relative;
  }

  .mitad-izquierda {
    float: left;
    width: 50%;
  }

  .mitad-derecha {
    float: left;
    width: 50%;

  }

  /* Limpiar el float para evitar problemas de diseño */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .elemento-fijo {
    position: fixed;
    bottom: 0;
    left: 0; /* Puedes ajustar esto según tus preferencias de posicionamiento lateral */
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .linea-debajo {
    border-bottom: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
  }
